<%- include("partials/header"); -%>

<h1><%=title%></h1>
<p><%=content%></p>

<% if(user) { %>
<form action="/posts/<%= id %>/delete" method="POST">
  <button>Delete Post</button>
</form>
<% } %> <%- include("partials/footer"); -%>
